<!doctype html>
<html lang="en-us">
<head>
  <title><%= yield_content :title %> | Golden Gate Ruby Conference</title>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="all" />
  <meta name="author" content="Bunker" />
  <meta name="copyright" content="(c) Copyright 2014 Golden Gate Ruby Conference, LLC." />
  <meta name="description" content="San Francisco is the birthplace of the web revolution. Ruby powers many new technologies, from web sites to telphony and desktop applications. Join us for two days of in-depth technical explorations of the most interesting parts of the Ruby landscape, presented by some of the top talents in the Ruby development community." />
  <meta name="keywords" content="golden gate ruby conference 2014, san francisco, ruby, rails, conference, web development, development" />
  <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
  <style media="screen and (min-device-width:320px)">
    .is-not-mobile { display: none; }
  </style>
  <style media="screen and (min-device-width:768px) and (min-width:768px), print, projection">
    .is-mobile { display: none; }
    .is-not-mobile { display: table; }
  </style>
  <%= stylesheet_link_tag "styles", media: "screen, handheld, print, projection", rel: "stylesheet" %>
  <%= stylesheet_link_tag "enhanced-mobile", media: "screen and (min-device-width:320px)", rel: "stylesheet" %>
  <%= stylesheet_link_tag "enhanced-desktop", media: "screen and (min-device-width:768px) and (min-width:768px), print, projection", rel: "stylesheet" %>
  <%= stylesheet_link_tag "https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css", media: "screen, handheld, print, projection", rel: "stylesheet" %>
  <%#= stylesheet_link_tag "jquery.bxslider", media: "screen", rel: "stylesheet" %>
  <!--[if lt IE 9]>
  <%= stylesheet_link_tag "styles", media: "all", rel: "stylesheet" %>
  <%= stylesheet_link_tag "enhanced-mobile", media: "all", rel: "stylesheet" %>
  <%= stylesheet_link_tag "enhanced-desktop", media: "all", rel: "stylesheet" %>
  <%= javascript_include_tag "html5shiv" %>
  <![endif]-->
</head>

<body class="<%= page_classes %>">
  <header>
    <nav>
      <p class="nav-icon-mobile"><i class="icon-reorder"></i></p>
      <ul>
        <li class="location-info">UCSF Mission Bay, San Francisco / Sep 12-13, 2014</li>
        <li class="home-id"><a href="/">Home</a></li>
        <li class="speakers-id"><a href="/speakers/">Speakers</a></li>
        <li class="schedule-id"><a href="/schedule/">Schedule</a></li>
        <li class="sponsors-id"><a href="/sponsors/">Sponsors</a></li>
        <li class="location-id"><a href="/location/">Location</a></li>
        <li class="about-id"><a href="/about/">About</a></li>
        <li class="cta-id"><a href="/submissions/" class="button">Propose a Talk</a></li>
      </ul>
    </nav>
    <div class="masthead">
      <div class="master-column">
        <h1>
          <%= yield_content :headline %>
          <span><%= yield_content :subhead %></span>
        </h1>
        <p class="logo"><%= image_tag "logo.svg", alt: "2014 Golden Gate Ruby Conference" %></p>
        <p class="cta"><a href="/submissions/" class="button">Propose a Talk</a></p>
      </div>
    </div>
  </header>
  <div class="content">
    <%= yield %>
  </div>
  <div class="sponsors-global">
    <div class="master-column">
      <div class="col-title">
        <h2>Sponsors</h2>
      </div>
      <div class="col-description">
        <h3>Diamond Sponsors</h3>
        <ul>
          <% data.sponsors.diamond.each do |sponsor| %>
            <li><%= link_to image_tag(sponsor.image), sponsor.website %></li>
          <% end %>
        </ul>
        <h3>Platinum Sponsors</h3>
        <ul>
          <% data.sponsors.platinum.each do |sponsor| %>
            <li><%= link_to image_tag(sponsor.image), sponsor.website %></li>
          <% end %>
        </ul>
        <h3>Gold Sponsors</h3>
        <ul>
          <% data.sponsors.gold.each do |sponsor| %>
            <li><%= link_to image_tag(sponsor.image), sponsor.website %></li>
          <% end %>
        </ul>
        <h3>Silver Sponsors</h3>
        <ul>
          <% data.sponsors.silver.each do |sponsor| %>
            <li><%= link_to image_tag(sponsor.image), sponsor.website %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <footer>
    <div class="master-column">
      <p class="ownership">©2014 Golden Gate Ruby Conference, LLC<br />Website by <a href="http://www.wearebunker.com/">Bunker</a> <span>/</span> Illustrations by <a href="http://neinercreative.com/">John Neiner</a></p>
      <p class="archive">Previous years<br /><a href="http://2009.gogaruco.com/">2009</a> <span>/</span> <a href="http://2010.gogaruco.com/">2010</a> <span>/</span> <a href="http://2011.gogaruco.com/">2011</a> <span>/</span> <a href="http://2012.gogaruco.com/">2012</a> <span>/</span> <a href="http://2013.gogaruco.com/">2013</a></p>
    </div>
  </footer>
  <script type="text/javascript" src="//use.typekit.net/xmp2itv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
  <%= javascript_include_tag "common" %>
  <%#= javascript_include_tag "jquery.bxslider" %>
</body>
</html>