<% events.each do |event| %>
  <tr class="<%= !event.speaker ? "lunch" : "" %>">
    <td><time><%= event.start %>-<%= event.end %></time></td>
    <% if event.speaker %>
      <td>
        <%= image_tag event.image, alt: event.speaker %>
        <div>
          <h3><%= event.name %></h3>
          <p>by <%= event.speaker %></p>
          <p class="session-description">
            <%= event.description %>
          </p>
        </div>
      </td>
    <% else %>
      <td>
        <h3><%= event.name %></h3>
      </td>
    <% end %>
  </tr>
<% end %>