---
title: "Welcome"
headline: "Explore new possibilities in the birthplace of the web revolution"
subhead: "UCSF Mission Bay, San Francisco, Sep 12-13, 2014"
---

<div class="content intro">
	<div class="master-column speakers-home">
		<div>
			<%= image_tag "FPO-speaker-lg.jpg", alt: "Speakername Goeshere" %>
			<dl>
				<dt>JAMES EDWARD GRAY II</dt>
				<dd>My Title Here</dd>
			</dl>
		</div>
		<div>
			<%= image_tag "FPO-speaker-lg.jpg", alt: "Speakername Goeshere" %>
			<dl>
				<dt>JAMES EDWARD GRAY II</dt>
				<dd>My Title Here</dd>
			</dl>
		</div>
		<div>
			<%= image_tag "FPO-speaker-lg.jpg", alt: "Speakername Goeshere" %>
			<dl>
				<dt>JAMES EDWARD GRAY II</dt>
				<dd>My Title Here</dd>
			</dl>
		</div>
		<div>
			<%= image_tag "FPO-speaker-lg.jpg", alt: "Speakername Goeshere" %>
			<dl>
				<dt>JAMES EDWARD GRAY II</dt>
				<dd>My Title Here</dd>
			</dl>
		</div>
		<div>
			<%= image_tag "FPO-speaker-lg.jpg", alt: "Speakername Goeshere" %>
			<dl>
				<dt>JAMES EDWARD GRAY II</dt>
				<dd>My Title Here</dd>
			</dl>
		</div>
		<p class="cta-speakers cta-inline"><a href="/speakers.html" class="button">View All Speakers</a></p>
	</div>
</div>
<div class="content story">
	<div class="master-column">
		<div class="col-title">
			<h2>The Big Idea</h2>
		</div>
		<div class="col-description">
			<p>San Francisco is the birthplace of the web revolution. Ruby powers many new technologies, from web sites to telphony and desktop applications. Join us for two days of in-depth technical explorations of the most interesting parts of the Ruby landscape, presented by some of the top talents in the Ruby development community. What your ticket gets you:</p>
			<ul>
				<li>Admission to two days of talk sessions</li>
				<li>Access to any after-hour parties</li>
				<li>Official Conference Swag</li>
				<li>Breakfast, Lunch and Snacks on both days</li>
				<li>Access to our fantastic attendees and speakers</li>
			</ul>
		</div>
	</div>
</div>