---
title: "Event Schedule"
headline: "Schedule"
---

<div class="content intro">
	<div class="master-column">
		<div class="col-title">
			<h2>Kickoff Parties <small>Thursday, Sep 11</small></h2>
		</div>
		<div class="col-description">
			<% data.schedule.thursday.each do |event| %>
				<h3><%= event.name %> <small><%= event.start %>-<%= event.end%> pm</small></h3>
				<p><%= event.description %></p>
			<% end %>
		</div>
	</div>
</div>
<div class="content story sessions">
	<div class="master-column">
		<table class="is-mobile">
			<tr>
				<th></th>
				<th>Day 1 <small>- Friday, Sep 12</small></th>
			</tr>

			<%= partial :mobile_schedule_day, :locals => { events: data.schedule.friday } %>

			<tr>
				<th></th>
				<th>Day 2 <small>- Saturday, Sep 13</small></th>
			</tr>

			<%= partial :mobile_schedule_day, :locals => { events: data.schedule.saturday } %>
		</table>
		<table class="is-not-mobile schedule-robust">
			<tr>
				<th></th>
				<th>Day 1 <small>- Friday, Sep 12</small></th>
				<th>Day 2 <small>- Saturday, Sep 13</small></th>
			</tr>

			<% ( data.schedule.friday + data.schedule.saturday ).sort_by { |event| event[:start] }.each_slice(2) do |events| %>
				<tr class="<%= !events.first.speaker ? "lunch" : "" %>">
					<% events.each_with_index do |event, index| %>
						<% if index == 0 %>
							<td><time><%= event.start %>-<%= event.end %></time></td>
						<% end %>

						<% if event.speaker %>
							<td>
								<%= image_tag event.image, alt: event.speaker %>
								<div>
									<h3><%= event.name %></h3>
									<p>by <%= event.speaker %></p>
									<p class="session-description">
										<%= event.description %>
									</p>
								</div>
							</td>
						<% else %>
							<td>
								<h3><%= event.name %></h3>
							</td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
		</table>
		<p class="cta-inline"><a href="#" class="button">REGISTER</a></p>
	</div>
</div>