<%= partial :heading, :locals => { page: data.titles.speakers } %>

<div class="content intro">
	<div class="master-column speakers-list">
		<% data.speakers.all.each do |speaker| %>
			<div id="<%= speaker.anchor %>">
				<h2><%= speaker.name %></h2>
				<%= image_tag speaker.image, alt: speaker.name %>
				<p><%= speaker.description %></p>
				<p>
					<%= session_link speaker %>
					<% unless speaker.twitter.blank? %>
					<br /><a href="http://twitter.com/<%= speaker.twitter[1..-1] %>"><i class="icon-twitter"></i> <%= speaker.twitter %></a>
					<% end %>
				</p>
			</div>
		<% end %>
	</div>
</div>
